/* Font Raleway import */
@import 'https://fonts.googleapis.com/css?family=Raleway:300,400,600';

body {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  background-color: #e5e5e5;
}

div.container {
  width: 100%;
  height: 100%;
}

header {
  position: fixed;
  font-family: 'Times New Roman', serif;
  font-weight: 500;
  font-size: 3em;
  width: 100%;
  color: #00f;
  background-color: #ff0;
  border: 1px solid #00f;
}

/* a link with no settings. example at examples folder */
a[none] {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

/* left align, because the text align is set at center. */
[left] {
  text-align: left;
}

/* navigation bar */
nav {
  float: left;
  width: 160px;
  position: fixed;
  margin: 0;
  padding: 1em;
  font-size: 0.9em;
}

/* the nav bar ul settings. example at examples folder */
#nav ul {
  font-family: 'Verdana', 'Arial', sans-serif;
  list-style-type: none;
  padding: 0;
}

/* nav bar links. example at examples folder */
#nav a {
  font-weight: 400;
  text-decoration: none;
  color: #0f0;
}

/* the current page in the navbar. example at examples folder */
#nav [current] {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 1.1em;
}

/* (section) article background and settings. example at examples folder */
section {
  background-color: #ffffe5;
  margin-left: 170px;
  border-left: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 1em;
}

/* article title */
h2.title {
  vertical-align: bottom;
}

/* article description (custom html tag <ar-desc>description</ar-desc>). example at examples folder */
ar-desc {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 0.65em;
}

/* article text (custom html tag <ar-text><p>...</p><p>...</p></ar-text>). example at examples folder */
ar-text {
  font-size: 0.9em;
}

footer {
  position: fixed;
  font-size: 0.9em;
}
